extends layout
block content

    script.
        //var indicator = !{JSON.stringify(indicator)};
        //var genderType = !{JSON.stringify(genderType)};
        //var areaType = !{JSON.stringify(areaType)};

        //var data = !{JSON.stringify(data_obj)};
        //var density_data = !{JSON.stringify(density_obj)};
        //var orderedList_data = !{JSON.stringify(orderedList_obj)};
        //var topojson_data = !{JSON.stringify(topojson_obj)};

        //var LAPE_Config = !{JSON.stringify(LAPE_Config)}; //should these go in public?
        //var config_timeSlider = !{JSON.stringify(config_timeSlider)};
        //var config_indicator_bargraph = !{JSON.stringify(config_indicator_bargraph)};
        //var config_indicator_linegraph = !{JSON.stringify(config_indicator_linegraph)};
        //var config_indicator_mapD3 = !{JSON.stringify(config_indicator_mapD3)};

    script(src="/javascripts/controller.js")

    script(src="/javascripts/timeSlider.js")
    script(src="/javascripts/densitygraph.js")
    script(src="/javascripts/wessexmap.js")
    script(src="/javascripts/areafacts.js")

    script(src="/javascripts/indicatortext.js")
    script(src="/javascripts/bargraph.js")
    script(src="/javascripts/linegraph.js")



    script(src="/javascripts/init.js")

    .flex-group
        .flex-header-container
            .flex-header-item#headerReportItem
                select.flex-select#reportTypeSelect
                    option(value='Indicator Report') Indicator Report:
                    option(value='Area Report') Area Report:
                    option(value='Compare Areas') Compare Areas:
            .flex-header-item#headerIndicatorItem
                select.flex-select#reportTypeSelect
                    option(value='Mortality from chronic liver disease') Mortality from chronic liver disease
                    option(value='Alcohol-specific mortality') Alcohol-specific mortality
                    option(value='Months of life lost due to alcohol') Months of life lost due to alcohol
                    option(value='Admission episodes for alcohol-related conditions') Admission episodes for alcohol-related conditions
            .flex-header-item#headerGenderItem
                select.flex-select.addFilterSelect#genderTypeSelect
                    option(value='Female') Females
                    option(value='Male') Males
                    option(value='Persons') Persons
            .flex-header-item#headerAreaTypeItem
                select.flex-select.addFilterSelect#areaTypeSelect
                    option(value='DU') Districts and Unitaries
                    option(value='CCG') CCGs
                    option(value='CU') Counties and Unitaries
            .flex-header-item#headerHighlightItem
                select.flex-select.addFilterSelect#highlightAreaSelect
                    option(value='North East Hampshire And Farnham') North East Hampshire And Farnham
                    option(value='North East Hampshire And Farnham') Short


        .flex-container
            .flex-item.full_height#timeSliderItem
            .flex-item.full_height#densitygraphItem
            .flex-item.full_height#wessexMapItem
            .flex-item.full_height#areaFactsItem
            .flex-item.full_height#bargraphItem
            .flex-item.full_height#linegraphItem
            //.flex-item.full_height#datesItem



    //.flex-group.indicator_group
    //    .flex-container.indicator_container.full_width.half_height
    //        .flex-item
    //            h2 #{indicator} (#{genderType})
    //            h3 Indicator report: #{areaType} in Wessex
    //        .flex-item#timeSliderItem
    //    .flex-container.indicator_container.full_width.full_height
    //        .flex-item
    //            p #{genderType}
    //            p The average #{indicator} in Wessex for #{genderType} is #{xyz}
    //        .flex-item#mapD3Item
    //    .flex-container.indicator_container.full_width.full_height
    //        .flex-item#bargraphItem
    //        .flex-item#linegraphItem
